% repo root: so we can find the erlt plugin
{checkouts_dir, ["../.."]}.

% You can mix ErlT and classic Erlang in the same
% app and they can be configured separately
{erlt_opts, [debug_info, report_warnings]}.
{erl_opts, [debug_info, report_warnings]}.

% use the ErlT plugin
{plugins, [erltc]}.
{provider_hooks, [{post, [
                          {compile, {erlt, compile}},
                          {clean, {erlt, clean}}
                      ]}]}.
