{checkouts_dir, ["../.."]}.

{plugins, [
    erltc
]}.

{escript_incl_apps, [hello_worldt]}.

{escript_main_app, hello_worldt}.

{escript_name, hello_worldt}.

{provider_hooks, [
    {post, [
        {compile, {erlt, compile}},
        {clean, {erlt, clean}}
    ]}
]}.

% classic erlang
{erl_opts, [debug_info, report_warnings]}.

% erlt
{erlt_opts, [debug_info, report_warnings]}.

{profiles, []}.
