{project_app_dirs, ["erlbuild", "erltc"]}.

{erl_opts, [debug_info, warnings_as_errors]}.

{profiles, [
    {release, [
        {erl_opts, [no_debug_info, warnings_as_errors, deterministic]}
    ]}
]}.

{escript_emu_args, "%%! +sbtu +A0 -noinput -noshell -mode minimal\n"}.

{plugins, [erlfmt]}.

{erlfmt, [
    {files, ["{erlbuild,erltc}/{src,include,test}/*.{hrl,erl,app.src}", "{erlbuild,erltc}/rebar.config"]}
]}.
