{erl_opts, [debug_info, warnings_as_errors]}.

{deps, []}.

{escript_incl_apps, [erltc]}.

{escript_main_app, erltc}.

{escript_name, erltc}.

{escript_emu_args, "%%! +sbtu +A0 -noinput -noshell -mode minimal\n"}.

{profiles, [
    {release, [
        {erl_opts, [no_debug_info, deterministic]}
    ]}
]}.

{plugins, [erlfmt]}.

{erlfmt, [
    write,
    {files, ["{src,include,test}/*.{hrl,erl,app.src}", "rebar.config"]}
]}.
