{checkouts_dir, ["../.."]}.

{escript_incl_apps, [count]}.

{escript_main_app, count}.

{escript_name, count}.

{provider_hooks, [
    {post, [
        {compile, {erlt, compile}},
        {clean, {erlt, clean}}
    ]}
]}.

% classic erlang
{erl_opts, [debug_info, report_warnings]}.

% erlt
{erlt_opts, [debug_info, report_warnings]}.

{profiles, []}.

{plugins, [
    erltc
]}.
