erlang_ls
!erlang_ls/_build/*/bin/erlang_ls
!erlang_ls/images/erlang-ls-logo-small.png

erlang.tmbundle/Commands
erlang.tmbundle/Macros
erlang.tmbundle/Preferences
erlang.tmbundle/Snippets

.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/semver/**