# Command to invoke the erlt compiler, to generate diagnostics
# Default is 'rebar3 compile'
# erlt_command: "make test-others"
# erlt_command: "make" # until Max fixes rebar3 compile to call sterlang

# Will use sterlangd if it is already running (via make run-sterlangd)
erlt_command: "rebar3 compile"

# Use the "node" option make use of Ilya's one-file hack
# 1. Run sterlang as a daemon
#    make run-sterlangd
# 2. Run the rebar shell in distribution mode
#    rebar3 shell --sname erltc@localhost
# erlt_command: "node"
