{project_app_dirs, [
    "calc",
    "dev",
    "dev_dots",
    "dev_struct",
    "dev_enum",
    "doc",
    "elm_core",
    "erltodo"
]}.

{checkouts_dir, [".."]}.

{plugins, [erlbuild]}.

{erl_opts, [debug_info, report_warnings]}.

{profiles, [
    {ir, [
        {erl_opts, [
            'P',
            report_warnings,
            % this option reduces churn in our snapshot tests:
            % error messages and ir have module name, not path
            deterministic
        ]}
    ]}
]}.
