{project_app_dirs, [
    "calc",
    "dev",
    "dev_dots",
    "dev_struct",
    "dev_enum",
    "doc",
    "elm_core",
    "erltodo"
]}.

{checkouts_dir, [".."]}.

% TODO: 'erlt' is a better name
{plugins, [erltc]}.

% classic erlang
{erl_opts, [debug_info, report_warnings]}.
{provider_hooks, [{post, [
                          {compile, {erlt, compile}},
                          {clean, {erlt, clean}}
                      ]}]}.

% erlt
{erlt_opts, [debug_info, report_warnings]}.

