include_dirs:
  - "include/"
  - "_build/test/lib/*/include/"
  - "_build/default/lib/*/include/"
  - "_build/test/"
deps_dirs:
  - "./_build/test/lib/*"
  - "./_build/default/lib/*"
apps_dirs:
  - "./_build/test/lib/*"
  - "./_build/default/lib/*"

lenses:
  enabled:
    # - ct-run-test
    - server-info
diagnostics:
  disabled:
    - xref

# bug bug bug
