{erl_opts, [no_debug_info]}.

{deps, []}.

{escript_incl_apps, [erlbuild]}.

{escript_main_app, erlbuild}.

{escript_name, erlbuild}.

{escript_emu_args, "%%! +sbtu +A0 -noinput -noshell -mode minimal\n"}.

{profiles, [
    {release, [
        {erl_opts, [no_debug_info, deterministic]}
    ]}
]}.

{plugins, [erlfmt]}.

{erlfmt, [
    write,
    {files, ["{src,include,test}/*.{hrl,erl}", "rebar.config"]}
]}.
